@import 'base.less';
#main {
    background-color: #eee;
    .motion {
        >ul {
            // float: left;
            >li {
                >a {
                    width: 80px;
                    height: 40px;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    text-align: center;
                    line-height: 40px;
                    font-size: 14px;
                    display: block;
                }
                &.active {
                    >a {
                        background-color: #ccc;
                        color: @main-color;
                    }
                }
            }
        }
    }
    .category-right {
          left: 80px;
        top: 40px;
        overflow: hidden;
        width: auto;
        padding: 0 10px;
        .mui-scroll {
            position: relative;
             
            >p {
                margin: 7px 0 5px 5px;
                ;
            }
            .mui-row {
                .mui-col-xs-4 {
                    background-color: #fff;
                    >a {
                        display: block;
                        text-align: center;
                        >img {
                            width: 100%;
                        }
                        >p {
                            font-size: 12px;
                            color: rgb(27, 27, 8);
                        }
                    }
                }
            }
        }
    }
}