/* base.less是用来写一些项目都需要的公共样式 */
/* 定义乐淘主题色 */
img {
  /* 解决图片3px的间隙 */
  vertical-align: middle;
}
* {
  margin: 0px;
  padding: 0px;
}
li {
  /* 去掉小圆点 */
  list-style: none;
}
a {
  color: #666;
}
/* 头部区域的公共样式 */
#header {
  height: 45px;
  background-color: #006699;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#header > h4 {
  line-height: 45px;
  font-weight: normal;
  margin: 0;
}
#header .fa-search {
  color: #fff;
  position: absolute;
  top: 14px;
  right: 10px;
}
#header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 14px;
  color: #fff;
}
#header form {
  padding-left: 35px;
  padding-right: 35px;
}
#header form input {
  width: 100%;
  margin-top: 7px;
  height: 30px;
  text-align: left;
  background-color: #fff;
  color: #000;
}
/* 底部的公共样式 */
#footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 50px;
  background-color: #006699;
  z-index: 999;
}
#footer .mui-row > div > a {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 11px;
}
#footer .mui-row > div > a::before {
  display: block;
}
#footer .mui-row > div > a.active {
  color: orange;
}
html,
body {
  height: 100%;
}
/* 主体内容的公共样式 */
#main {
  padding-top: 45px;
  padding-bottom: 50px;
  height: 100%;
  background-color: #fff;
}
[class^="fa-"],
[class*=" fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#main {
  background-color: #eee;
}
#main .motion > ul > li > a {
  width: 80px;
  height: 40px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  display: block;
}
#main .motion > ul > li.active > a {
  background-color: #ccc;
  color: #006699;
}
#main .category-right {
  left: 80px;
  top: 40px;
  overflow: hidden;
  width: auto;
  padding: 0 10px;
}
#main .category-right .mui-scroll {
  position: relative;
}
#main .category-right .mui-scroll > p {
  margin: 7px 0 5px 5px;
}
#main .category-right .mui-scroll .mui-row .mui-col-xs-4 {
  background-color: #fff;
}
#main .category-right .mui-scroll .mui-row .mui-col-xs-4 > a {
  display: block;
  text-align: center;
}
#main .category-right .mui-scroll .mui-row .mui-col-xs-4 > a > img {
  width: 100%;
}
#main .category-right .mui-scroll .mui-row .mui-col-xs-4 > a > p {
  font-size: 12px;
  color: #1b1b08;
}
