/* 在主页less文件里面导入base.less公共样式 */
/* base.less是用来写一些项目都需要的公共样式 */
/* 定义乐淘主题色 */
img {
  /* 解决图片3px的间隙 */
  vertical-align: middle;
}
* {
  margin: 0px;
  padding: 0px;
}
li {
  /* 去掉小圆点 */
  list-style: none;
}
a {
  color: #666;
}
/* 头部区域的公共样式 */
#header {
  height: 45px;
  background-color: #006699;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#header > h4 {
  line-height: 45px;
  font-weight: normal;
  margin: 0;
}
#header .fa-search {
  color: #fff;
  position: absolute;
  top: 14px;
  right: 10px;
}
#header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 14px;
  color: #fff;
}
#header form {
  padding-left: 35px;
  padding-right: 35px;
}
#header form input {
  width: 100%;
  margin-top: 7px;
  height: 30px;
  text-align: left;
  background-color: #fff;
  color: #000;
}
#header .mySearch {
  line-height: 35px;
  font-weight: normal;
}
/* 底部的公共样式 */
#footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 50px;
  background-color: #006699;
  z-index: 999;
}
#footer .mui-row > div > a {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 11px;
}
#footer .mui-row > div > a::before {
  display: block;
}
#footer .mui-row > div > a.active {
  color: orange;
}
html,
body {
  height: 100%;
}
/* 主体内容的公共样式 */
#main {
  padding-top: 45px;
  padding-bottom: 50px;
  height: 100%;
  background-color: #fff;
}
[class^="fa-"],
[class*=" fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#main > .search-form {
  position: relative;
  padding-right: 70px;
  padding-left: 15px;
}
#main > .search-form input {
  width: 100%;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #006699;
  margin-top: 7px;
  border-radius: 5px 0 0 5px;
  height: 33px;
  text-align: left;
}
#main > .search-form button {
  position: absolute;
  top: 7px;
  right: 16px;
  background-color: #006699;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
#main .searchHistory {
  padding: 10px;
}
#main .searchHistory .search-history-heading {
  border-bottom: 1px solid #ccc;
  height: 30px;
  width: 100%;
}
#main .searchHistory .search-history-heading > p {
  margin-left: 10px;
  float: left;
}
#main .searchHistory .search-history-heading > a {
  float: right;
  margin-right: 10px;
  font-size: 14px;
}
#main .searchHistory .search-history-list > ul {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#main .searchHistory .search-history-list > ul > li {
  height: 40px;
  margin: 0;
  width: 100%;
}
#main .searchHistory .search-history-list > ul > li .shouji {
  font-size: 14px;
  display: block;
}
#main .searchHistory .search-history-list > ul > li .shouji > i {
  float: right;
}
